#myInput {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }



    .img {
        width: 32px; /* Állítsd be az ikon szélességét a kívánt méretre */
        height: 32px; /* Állítsd be az ikon magasságát a kívánt méretre */
    }




#showDeadlineTasksBtn {
    background-color: #f48c06; /* Gomb háttérszíne */
    color: white; /* Gomb szövegszíne */
    border-color: #f48c06; /* Gomb keretének színe */
}

#showSelfTasksBtn {
    background-color: #f48c06; /* Gomb háttérszíne */
    color: white; /* Gomb szövegszíne */
    border-color: #f48c06; /* Gomb keretének színe */
}

body{
    background-color: #ffffff;

}

.container {
    background-color: #ffffff;
}

.full-width {
    position: fixed;
    left: 0;
    
    width: 100%;
    
    color: white; /* Szövegszín */
    padding: 10px; /* Belső tér */
    box-sizing: border-box; /* A padding ne befolyásolja a div szélességét */
    z-index: 9999; /* A legtetején jelenjen meg */
  }
  
 #igen{
    background-color: aqua;
 }
