#myInput {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.popup-content {
    text-align: center;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    color: white;
    font-size: 20px;
}



#showDeadlineTasksBtn {
    background-color: #758bfd; /* Gomb háttérszíne */
    color: white; /* Gomb szövegszíne */
    border-color: #758bfd; /* Gomb keretének színe */
}

#showSelfTasksBtn {
    background-color: #758bfd; /* Gomb háttérszíne */
    color: white; /* Gomb szövegszíne */
    border-color: #758bfd; /* Gomb keretének színe */
}

body{
    background-color: #ffffff;

}

.container {
    background-color: #ffffff;
}

.full-width {
    position: fixed;
    left: 0;
    
    width: 100%;
    
    color: white; /* Szövegszín */
    padding: 10px; /* Belső tér */
    box-sizing: border-box; /* A padding ne befolyásolja a div szélességét */
    z-index: 9999; /* A legtetején jelenjen meg */
  }
  